/* components/Navbar.css */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.navbar-logo {
    margin-left: 20px;
  }
.navbar {
    align-items: center;
  }
  
  .navbar-search  {
    flex: 2;
    margin-right: 40px;
    margin-left: 40px;
  }

  .navbar-search input {
    width: 100%;
    padding: 5px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #fafafa;
  }
  
  .navbar-icons > *  {
    margin-left: 10px;
    margin-right: 20px;
  }
  .navbar-icons img {
    height: 25px;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .navbar-icons {
      display: none;
    }
    .navbar-logo {
      margin-left: 0px !important;
      margin-right: 0px !important; 
    }
    .navbar-logo img {
      padding-right: 0px !important;  
      margin-left: -5px;
      
    }
    .navbar-search {
      flex: 2;
      margin-right: 0px;
      margin-left: 10px;
    }
    .navbar-search input {
      height: 50px !important;
      padding: 10px !important;

    }
  }